@import "variables";

.sorting {
  display: flex;
  justify-content: flex-start;

  .dropdown-view {
    position: relative;

    width: 180px;
    height: 40px;
    line-height: 40px;
    margin-right: 30px;
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 2px;
    color: rgba(255,255,255,0.8);
    padding: 0 15px;

    transition: 320ms;

    .item-name {
      display: flex;
      justify-content: space-between;
      align-content: center;

      transition: 320ms;

      .fa-chevron-right {
        line-height: 40px;
        font-size: 14px;
        transition: 320ms;
      }

      &:hover {
        color: $primary-color;
      }
    }

    .dropdown {
      display: none;

      position: absolute;
      left: 0;
      top: 100%;

      width: 100%;

      .item-dropdown {
        line-height: 34px;
        padding-left: 15px;
        transition: 320ms;

        .square {
          display: inline-block;
          position: relative;
          top: 1px;

          margin-right: 10px;
          width: 14px;
          height: 14px;
          border: 1px solid white;
          border-radius: 2px;
          transition: 320ms;

          .fa-check {
            position: absolute;
            top: 1px; left: 2px;
            font-size: 9px;

            opacity: 0;
          }


        }

        &:hover {
          color: $primary-color;
          cursor: pointer;

          .square {
            border-color: $primary-color;
          }
        }

        &.checked>.square>.fa-check {
          opacity: 1;
        }
      }

      &.open {
        display: block;
      }
    }

    &.open .fa-chevron-right {
      transform: rotate(90deg);
    }
  }
}

