@import "variables";

.home-page {
  padding-top: 0;


}

.upcoming-movies-slider {
  position: relative;
  margin-bottom: 30px;

  .slick-active .item .shadow {
    opacity: 0;
  }

  .slick-active .item .item-info .info-body {
    opacity: 1;
  }

  .item {
    position: relative;

    padding: 0 15px;

    .inner {
      height: 550px;

      background-size: cover;
      background-position: center;
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 0;
      opacity: 1;
      transition: 1000ms;
      background: rgba(0,0,0,.5);
      pointer-events: none;
    }

    .item-info {
      display: flex;
      align-items: flex-end;

      position: absolute;
      top: 0; left: 15px;
      bottom: 0; right: 15px;

      padding: 60px;
      background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4) 60%);

      .info-body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        opacity: 0;
        transition: 1000ms;
        text-shadow: 2px 2px 4px black;

        .poster {
          width: 170px;
          margin-right: 60px;


          .poster-img {
            border-radius: 4px;
            width: 100%;
          }
        }

        .text {
          margin-top: 60px;
        }

        .title {
          font-size: 46px;
          color: rgba(255,255,255,0.8);
          margin-bottom: 10px;
        }

        .release-date {
          color: rgba(255,255,255,0.8);
          margin-bottom: 20px;
        }
      }
    }

  }

  .btns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .btn {
      position: absolute;
      width: 15%;
      height: 550px;
      //border-radius: 100%;
      //background: rgba(255,255,255,0.1);
      cursor: pointer;


      .fas {
        color: rgba(255,255,255,0.4);
        font-size: 42px;
        transition: 320ms;
      }

      &:hover .fas {
        color: $primary-color;
        opacity: 0.8;
      }
    }

    .btn-next {
      right: 0;
      margin-left: 30px;
    }

    .btn-prev {
      left: 0;
      margin-right: 30px;
    }
  }

}