@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "colors";
@import "header";
@import "filter";
@import "home-page";
@import "variables";
@import "movies-list";
@import "movie-page";
@import "movie-item";
@import "loader";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Yantramanav', sans-serif;
  color: $main-color;
  background-color: $background-color;

  height: 100%;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

#root {
  height: 100%;
}

.my-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.headline {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
}

.page {
  padding-top: 30px;
  color: rgba(255,255,255,1);

  .container {
    padding: 0 30px;
  }
}

.label-checkbox {
  display: block;

  width: 100%;
  height: 100%;
  transition: 320ms;

  padding-left: 15px;

  .field-checkbox {
    //display: none;

    &:checked + span > i {
      opacity: 1;
    }
  }

  .custom-checkbox {
    display: inline-block;
    position: relative;
    top: 8px;

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 10px;

    transition: 320ms;

    .fa-check {
      position: relative;
      top: -10px;
      left: 2px;
      font-size: 10px;
      opacity: 0;

    }

    .check {
      opacity: 0;
    }
  }

  &:hover {
    color: $primary-color;

    .custom-checkbox {
      border-color: $primary-color;
    }
  }
}

.btn-learn-more {
  display: block;

  text-align: center;
  background: $primary-color;
  width: 130px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;

  transition: 320ms;

  &:hover {
    background: $primary-dark-color;
  }
}

// ---------------------------------------------------------------------------------------

.footer {
  flex: 0 0 50px;
  height: 50px;
  margin-top: auto;
  background-color: $footer-background;
  color: rgba(255,255,255,0.5);

  .container {
    padding: 0 30px;
  }

  a {
    text-decoration: underline;
    transition: 320ms;

    &:hover {
      color: $primary-color;
    }
  }

  .text {
    line-height: 50px;
    //vertical-align: baseline;
  }
}