@import "variables";

.movies-slider .container {
  padding-left: 0;
  padding-right: 0;

  //.slick-list {
  //  width: 1370px;
  //}
}

.movies-list {
  padding: 30px 0;

  .test {
    width: 233px;
  }

  .movies-list-header {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .headline {
      margin-bottom: 10px;
    }

    .btn {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-left: 15px;
      border: 1px solid rgba(255,255,255,0.4);
      color: rgba(255,255,255,0.4);
      transition: 320ms;

      &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;
      }

      &.not-slides {
        border: 1px solid rgba(255,255,255,0.18);
        color: rgba(255,255,255,0.18);
        cursor: auto;
      }
    }
  }

  .item-all-movies {
    position: relative;
    width: 210px !important;
    height: 300px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
    transition: 320ms;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);

    .name {
      display: inline-block;

      width: 100%;
      margin-top: 130px;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
    }

    .fas {
      display: inline-block;
      width: 100%;
      font-size: 22px;
      text-align: center;
    }

    .all-movies {
      position: absolute;
      top: 0; left: 0;

      display: inline-block;
      width: 100%;
      height: 100%;
      outline: none;
    }

    &:hover {
      //background-color: rgba(40,204,136,0.05);
      border: 2px solid rgba(40,204,136,0.8);
      color: $primary-color
    }
  }

  //.movie-item img:nth-child(1) {
  //  margin-left: -15px !important;
  //}


}