@import "variables";

.movies-page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.movies-page .filters {
  display: flex;
  justify-content: flex-start;

  padding-top: 10px;

}

.movies-page .headline {
  margin-top: 50px;
}

.movies-page .results {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0 -10px 0 -14px;
  padding-top: 30px;
  padding-bottom: 40px;

  .result {
    max-width: 220px !important;
    flex-basis: 220px;
    flex-shrink: 0;
    margin: 0 3px 30px 0;
    //margin: auto;
  }

  //&:after {
  //  flex:1;
  //  content: "";
  //}
}