@import "variables";

.search-results {
  position: absolute;
  top: 60px; right: 30px;

  z-index: 100;
  width: 320px;
  background-color: $background-additional-color;

  .search-movie-item {
    display: flex;
    justify-content: space-between;

    margin: 10px 0;
    padding: 5px 15px;
    transition: 320ms;

    .poster {
      width: 50px;
    }

    .info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      width: 100%;
      padding: 5px 0 0 15px;

      .name {
        display: block;
        margin-top: -9px;
        margin-bottom: 3px;
      }

      .type {
        font-size: 12px;
        text-transform: uppercase;
        padding: 2px 5px;
        border-radius: 2px;
        background-color: $color-purple;

        &.tv {
          background-color: $color-red;
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $background-additional-light-color;
    }
  }
}