$primary-color: #22c18d;
//$primary-color: #22c18d;
$primary-dark-color: #1ca175;
$main-color: #252525;
$background-color: #202329;
//$background-color: #282c34;
$footer-background: #181a1f;
$text-color: #7e7e7e;
$color-red: #ff626f;
$color-purple: #9846e7;

$container-width: 1400px;